.btn {
    @apply font-bold text-center opacity-50 fill-current text-teal-400 flex flex-col justify-between items-center content-center mb-5 w-1/3;
    transition: opacity 500ms, transform 500ms;
    transition-timing-function: ease-in-out;
    @screen md {
        @apply w-auto;
    }
    & svg {
        @apply fill-current w-12 p-2 bg-teal-900 rounded-full;
    }
    &:hover,
    &.active,
    &[aria-current] {
        @apply opacity-100;
        transform: scale(1.2);
    }
}

.modal {
    @apply justify-around w-full font-bold transition duration-700 ease-out transition-all absolute h-84 p-4 max-w-full flex mx-auto z-20 p-3 rounded flex-col bg-deeppurple-500 inset-x-0;
    width: 70vw;
    top: -500px;
    &--active {
        top: 30px;
    }
    a {
        @apply mb-4 flex flex-col text-center;
        @screen sm {
            @apply flex-row;
        }
    }
}