header,
main {
    @apply mx-auto;
}

main {
    @apply pb-4;
}

html {
    font-variant-numeric: tabular-nums;
    @apply max-h-screen overflow-hidden;
}

body {
    @apply bg-deeppurple-800 max-h-screen overflow-hidden;
}

header {
    & a,
    p {
        @apply opacity-50 flex;
    }
    & span {
        @apply mx-3;
    }
    & svg {
        @apply h-6 fill-current align-middle;
    }
    a:hover {
        @apply opacity-100;
        transition: opacity ease-in-out 500ms;
    }
}

nav {
    @apply mb-6 flex justify-around w-full flex-wrap;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    filter: brightness(1.2);
    transition: filter 200ms ease-out;
}
