header,
main {
    @apply mx-auto;
}

main {
    @apply pb-4;
}

html {
    font-variant-numeric: tabular-nums;
    @apply max-h-screen overflow-hidden;
}

body {
    @apply bg-deeppurple-800 max-h-screen overflow-hidden;
}

header {
    @apply text-teal-400 w-full p-4;
    @screen xs {
        @apply relative;
    }
    a p {
        @apply block opacity-50 font-normal;
    }
    @screen md {
        & a,
        p {
            @apply opacity-50 flex;
        }
    }
    & span {
        @apply mx-3;
    }
    & svg {
        @apply h-6 fill-current align-middle;
    }
    a:hover {
        @apply opacity-100;
        transition: opacity ease-in-out 500ms;
    }
    &::before {
        content: '';
        @apply w-screen bg-black opacity-0 absolute top-0 left-0 hidden transition duration-700 ease-out transition-all z-0;
    }
    &.overlay::before {
        content: '';
        @apply h-screen block opacity-75 z-10;
    }
}

nav {
    @apply mb-6 flex justify-around w-full flex-wrap;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    filter: brightness(1.2);
    transition: filter 200ms ease-out;
}