:root {
  --glow-passive: drop-shadow(0 0 2px #4fd1c5);
  --glow-done: drop-shadow(0 0 30px #4fd1c5);

  @keyframes bling {
    0% {
      filter: var(--glow-passive);
    }
    50% {
      filter: var(--glow-done);
    }
    100% {
      filter: var(--glow-passive);
    }
  }
}

.active svg {
  animation: bling 500ms ease-in;
}
.done svg {
  filter: var(--glow-passive);
}

.dice {
  @apply flex font-bold text-6xl w-56 h-56 max-h-screen m-auto mb-3 relative;
  @screen sm {
    @apply w-64 h-64;
  }
  @screen md {
    @apply w-84 h-84 text-7xl;
  }
  &:focus {
    @apply outline-none;
  }
  & .number {
    @apply text-deeppurple-800 relative m-auto bg-teal-400 rounded-full;
  }
  .svgWrapper {
    @apply w-full h-full absolute top-0 left-0;
  }
  svg {
    @apply absolute top-0 left-0 fill-current m-auto text-teal-400 w-full h-full;
    transform-box: border-box;
    transform-origin: center;
    filter: var(--glow-passive);
  }
}
