/* purgecss start ignore */

@tailwind base;
:root {
    --glow-passive: drop-shadow(0 0 2px #4fd1c5);
    --glow-done: drop-shadow(0 0 30px #4fd1c5);
}


/* purgecss end ignore */

@tailwind utilities;
html {
    font-variant-numeric: tabular-nums;
    @apply max-h-screen overflow-hidden;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    filter: brightness(1.5);
    transition: filter 200ms ease-out;
}

body {
    @apply bg-deeppurple-800;
}

.btn {
    @apply font-bold text-center opacity-50 fill-current text-teal-400 flex flex-col justify-between items-center content-center pb-3;
    transition: opacity 500ms, transform 500ms;
    transition-timing-function: ease-in-out;
    & svg {
        @apply fill-current w-12;
    }
    &:hover,
    &.active,
    &[aria-current] {
        @apply opacity-100;
        transform: scale(1.2);
    }
}

.dice {
    @apply relative flex font-bold text-6xl block w-64 h-64 max-h-screen m-auto;
    &:focus {
        @apply outline-none;
    }
    & span {
        @apply text-deeppurple-800;
        position: relative;
    }
    & svg {
        @apply absolute top-0 fill-current m-auto text-teal-400 w-full h-full;
        transform-box: border-box;
        transform-origin: center;
        filter: var(--glow-passive);
    }
    &.active svg {
        animation: rotation infinite ease-in-out 2.5s;
        filter: var(--glow-passive);
    }
    &.done svg {
        animation: bling 600ms ease-in-out;
    }
}

@media screen and (max-width: 640px) {
    .btn {
        @apply w-1/3;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes bling {
    0% {
        filter: var(--glow-passive);
    }
    50% {
        filter: var(--glow-done);
    }
    100% {
        filter: var(--glow-passive);
    }
}

header {
    & a {
        @apply opacity-50;
        &:hover {
            @apply opacity-100;
            transition: opacity ease-in-out 500ms;
        }
    }
}