/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;
html {
    @apply h-full bg-black;
}

body {
    @apply bg-indigo-900 min-h-screen;
}

.dice {
    font-variant-numeric: tabular-nums;
    @apply relative m-auto my-8 h-64 w-64 flex font-bold text-6xl;
    &:focus {
        @apply outline-none;
    }
    & svg {
        transition: transform ease-out 1s;
        @apply absolute top-0 fill-current m-auto w-full text-teal-400 h-full;
    }
}

.active svg {
    animation: rotation infinite ease-in-out 2.5s;
}

.btn {
    @apply font-bold mx-6 text-center opacity-50;
    transition: opacity 500ms, transform 500ms;
    transition-timing-function: ease-in-out;
    &:hover,
    &.active,
    &[aria-current] {
        @apply opacity-100;
        transform: scale(1.2);
    }
    & span {
        font-variant-numeric: tabular-nums;
        @apply p-2 fill-current text-teal-400 flex rounded-full flex-col justify-between h-full font-black;
        & svg {
            @apply fill-current text-teal-400 w-12;
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}