/* purgecss start ignore */

@tailwind base;

/* purgecss end ignore */

@tailwind utilities;
html {
    font-variant-numeric: tabular-nums;
    @apply h-full bg-indigo-900 overflow-hidden;
}

body {
    @apply relative bg-purple-900;
    &::before {
        content: '';
        @apply h-full w-full opacity-75 bg-gray-900 absolute top-0;
    }
}

.btn {
    @apply font-bold text-center opacity-50 fill-current text-teal-400 flex rounded-full flex-col justify-between items-center content-center pb-3;
    transition: opacity 500ms, transform 500ms;
    transition-timing-function: ease-in-out;
    font-variant-numeric: tabular-nums;
    & svg {
        @apply fill-current w-12;
    }
    &:hover,
    &.active,
    &[aria-current] {
        @apply opacity-100;
        transform: scale(1.2);
    }
}

.dice {
    @apply relative h-64 w-64 flex font-bold text-6xl;
    &:focus {
        @apply outline-none;
    }
    & div {
        filter: brightness(0.5);
    }
    & svg {
        @apply absolute h-64 w-64 top-0 fill-current m-auto w-full text-teal-400 h-full;
    }
    &.active svg {
        animation: rotation infinite ease-in-out 2.5s;
    }
}

@media screen and (max-width: 640px) {
    .btn {
        @apply w-1/3;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}