@tailwind base;
@tailwind components;
@tailwind utilities;
button {
    background-image: url("/src/d20.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-d-twenty {
    @apply bg-blue-700 mx-auto rounded-lg my-8 h-64 w-64 flex;
}